/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.header {
  background-image: linear-gradient(#335979,#06365f);
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10rem;
}
main {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  width: 650px;
}
button {
  background-color:#3f7daf;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
.imageminit
{
display: flex;
flex-direction: row;
justify-content: space-between;
;
}
.text {
  background-image: url("../images/frame.png");
  background-size: 650px ;
  background-repeat: no-repeat;
  
  background-size: 650px;
  padding: 25px;
}
.os {
  display: inline-flex;
  justify-content: space-around;
  width: 400px;
}
footer {
  color: #06365f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
 justify-content: center;
 margin-top: 400px;
}